fastapi==0.111.0
uvicorn==0.29.0
SQLAlchemy==2.0.29
pg8000==1.31.2
python-dotenv==1.0.1
pydantic==2.7.1
email-validator==2.1.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-multipart==0.0.9
slowapi==0.1.9
cloudinary==1.40.0